<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Your description goes here">
  <meta name="keywords" content="one, two, three">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Index</title>
  <script src="https://kit.fontawesome.com/fec081edb2.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/index.css">
  <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Fruktur&family=Rubik+Glitch&display=swap" rel="stylesheet">
  <!-- <link rel="stylesheet" href="style.css"> -->
</head>
<body>
  <header>
      <section class="h1Logo">
      <!-- <img class="logo" src="/img/arrowLogo.gif"> -->
      <h1>Post Partum Direction</h1>
      <!-- <img class="logo" src="/img/arrowLogo.gif"> -->
    </section>
      <nav>
        <ul>
          <a href="/whoWeAre"> <li> <i class="fa fa-leaf fa" aria-hidden="true">Who We Are</i></li></a>
          <a href="/profile"> <li><i class="fa fa-leaf fa" aria-hidden="true"> Profile</i></li></a>
          <a href="/signup"> <li> <i class="fa fa-leaf fa" aria-hidden="true">Sign Up</i></li></a>
          <a href="/login"> <li><i class="fa fa-leaf fa" aria-hidden="true">Log In</i></li></a>
          <a href="/logout"> <li><i class="fa fa-leaf fa" aria-hidden="true">Log Out</i></li></a>
          <li><i class="fa fa-leaf fa" aria-hidden="true">Events</i></li>
          <li><i class="fa fa-leaf fa" aria-hidden="true">News</i></li>    
      </ul>
    </nav>
  </header>
  
  <section class="ladySmiling">

  </section>
    
    <section class="bio">
      <section class="words">
        <h2>We Rise By Lifting Others</h2>
      </section>
      
      <section class="first-TopPic">
        <img class="talkingGirlsGif" src="/img/index.gif">
     </section>
     <p>
      " Kindness is a gift everyone can afford to give."
     </p>
    
</section>

   <section class="bottomBox">
    
     <section class="img">
     <img class="ad" src="images/ad.jpg">
   </section>
 
    <h4 class="title">Post Partum Direction Copyright ©2022 </h4>
       <span class="rightSpan">Carla Hores</span>
         
 </section>   
 </body>
 </html>   


<script src="main.js"></script>

</body>
</html>
