<!doctype html>
<html>
<head>
    <title>21 Savage Fan Site</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Fruktur&family=Rubik+Glitch&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1>Page</h1>
        <a href="/profile">Profile</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

       
        <div class="col-sm-6">
          <h3>Mood Logger</h3>
          <ul class="messages">
          <% for(var i=0; i<journalEntries.length; i++) {%>
            <li class="message">
              <a href="/journalEntries/<%= journalEntries[i]._id %>">
                <h4><%= journalEntries[i].date %></h4>
                <img src="<%= journalEntries[i].img %>" alt="">
                <a href="/page/<%= journalEntries[i].postedBy %>"></a>
              </a>  
            </li>
          <% } %>
          </ul>


</div>

<script src="main.js"></script>

</body>
</html>
