





    <!DOCTYPE html>
    <html lang="en">
    
    <head>
      <meta charset="utf-8">
      <meta name="description" content="Your description goes here">
      <meta name="keywords" content="one, two, three">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    
      <title>WhoWeAre</title>
      <script src="https://kit.fontawesome.com/fec081edb2.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
      <link rel="stylesheet" href="css/WhoWeAre.css">
      <!-- <link rel="stylesheet" href="style.css"> -->
    </head>
    <body>
      <header>

      <h1>Post Partum Direction</h1>
        <nav>
      <a href="/profile">Profile</a>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
      </nav>

        <section class="logo">
          <img src="img/">
        </section>
        <nav>
          <ul>
            <!-- <button url class="flowerButttons" type="button"><span>

              <input id="flowerButttons" type="image" src="/img/img_7418.jpg" name="saveForm" class="btTxt submit" id="saveForm" width="200px" height="100px"/>

            </span></button> -->
            
            

          <a><li><button id="flowerButttons"> NAME</button> </li></a> 
            <li>News<i class="fas fa-chevron-down"></i></li>
            <li>Events<i class="fas fa-chevron-down"></i></li>
            <li>Research<i class="fa-solid fa-flower"></i></li>
            <li>Sign up<i class="fas fa-chevron-down"></i></li>
            <li>login<i class="fas fa-chevron-down"></i></li>
            <l1><i class="fas fa-search"></i></l1>
            <li><i class="fa fa-leaf fa-2x" aria-hidden="true"></i></li>
          </ul>
        </nav>
      </header>
    
      <section class="ladySmiling">
    
        <section class="words">Ellen Pallen wants to build a more inclusive Silcon Valley</section>
      </section>
    
      <section class="bottomBox">
       
        <section class="img">
        <img class="ad" src="images/ad.jpg">
      </section>
    
       <h4 class="title">From Vampire Slayer to Entrepreneur: Buffy Rings the Nasdaq Bell </h4>
          <span class="leftSpan">BERNICE MAG</span>
          <span class="rightSpan">January 11 2017 5:26pm</span>
    </section>   
    </body>
    </html>   


<script src="main.js"></script>

</body>
</html>
