#profileLanding h1,body{
  font-family: 'Fredericka the Great', cursive;
  color:#f3cd88;
 background-image: url('/Users/resilientcoders/Documents/rc2022A/week11/ppdCrudApp/public/img/thoughts.jpeg');
}
p.hide{
  display: none;
}